<div class="container-fluid" [@slideInOut]>
  <div class="container card about-position" *ngIf="visible">
    <div class="row">
      <div class="col-md-12 col-lg-12 py-md-5 mt-3 px-md-5 text-center">
        <h1 class="d-none d-sm-none d-md-block">
          Welcome to Royal Marine Hotel
        </h1>
        <h3 class="d-block d-sm-block d-md-none">
          Welcome to Royal Marine Hotel
        </h3>

        <img
          src="/assets/images/palaisdaan.jpg"
          class="img-fluid py-4 d-block d-sm-block d-md-none"
        />
        <h5 class="d-none d-sm-none d-md-block">
          Just contact us. We are happy to serve you at a price that will surely
          fit your budget. <br />Dine and enjoy the view whatever the occasion
          is.
        </h5>
      </div>
    </div>
  </div>

  <div class="container card py-md-2  px-md-5 pb-4">
    <div class="row">
      <div class="col-md-4 col-lg-4 text-center pb-2">
        <span id="about-kamayan"></span>
        <h5 class="text-justify px-3">
          <strong
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This restaurant is in existence for
            two decades</strong
          >
          we have so many memories in this place, we have brought so many dates,
          girls and girlfriends here. The place to go with your barkada. What a
          great place. The place is amazing and we truly believe that it is the
          best restaurant in the Philippines not only because of the food,
          ambiance and affordable price but because we have been part of it many
          Filipino people have been part of Royal Marine Hotel! It is the
          best Restaurant because of us, most of us have been part of it.
        </h5>
        <hr />
        <img src="/assets/images/foods.jpg" class="img-fluid" />
      </div>

      <div class="col-md-8 col-lg-8 text-center pb-2">
        <img
          src="/assets/images/floating.jpg"
          class="img-fluid img-thumbnail"
        />
        <div class="pt-5">
          <br />
          <h5 class="text-capitalize px-5">
            Located in Bangalore, Karnataka,
            <strong>Royal Marine Hotel</strong> is an ideal getaway
            restaurant for seafood lovers.
          </h5>
          <br /><br />
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade pt-5 mt-5"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background: rgba(98, 132, 80, 0.85)">
            <h5 class="modal-title text-light">Contact Us</h5>
            <button
              type="button"
              class="close text-light"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h3>Get in touch via contact form or email directly</h3>
              <h5>I will get back to you as soon as possible</h5>

              <br />
            </div>

            <form>
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      id="inputSubject"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="From"
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email"
                      required
                    />
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <label for="message" class="col-md-12 control-label"
                    >Message:</label
                  >
                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      rows="3"
                      id="message"
                      name="message"
                      required
                    ></textarea>
                  </div>
                </div>

                <br />
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn menu text-light btn-lg px-5">
              <small>Send</small>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="background: whitesmoke;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 py-5 mt-3 px-5 text-center">
            <h1>Contact us</h1>
            <h5>
              Send us a mail or book a reservation. <br />Call us @ (043)
              739-3564. Bangalore. India.
            </h5>

            <br />
            <button
              class="btn py-2 px-5 menu"
              data-toggle="modal"
              data-target="#exampleModal"
              style="color: rgb(195, 151, 56)"
            >
              Contact us</button
            ><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
