<div class="container-fluid px-0" style="background-color:rgb(195, 151, 56); padding-top: 2px; padding-bottom: 2px;">
</div>

<div class="container-fluid px-0 py-5 first-footer">
	<footer>
		<div class="container">
			<div class="row text-left"  style="color: rgb(195, 151, 56)">
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>ABOUT US</b></h3><hr>
					<p><a href= "#" style="color:rgb(195, 151, 56)">About Us</a></p>
					<p><a href= "#" style="color:rgb(195, 151, 56)">Press & Media</a></p>
					<p><a href= "#" style="color:rgb(195, 151, 56)">Amenities</a></p>
					<p><a href= "#" style="color:rgb(195, 151, 56)">History - Featured Article</a></p>
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>RESTAURANT</b></h3><hr>
					<p>Brgy. Dapdap, Bangalore City</p>
					<p>Karnataka, India</p>
					<p>(042)793-3654 or 55</p>
					<p>Smart 0918-951-0460</p>
					<p>Globe 0917-556-2642</p>
					<p>royalmarinehotel@rmail.com</p>				
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>HOTEL & RESORT</b></h3><hr>
					<p>Brgy. Dapdap, Bangalore City, Karnataka</p>
					<p>(042) 793-0088</p>
					<p>Globe: 0917-680-1819</p>
					<p>Smart: 0920-978-6450</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<div class="container-fluid px-0 second-footer">
	<footer >
		<div class="container">
			<div class="row text-center"  style="color: white;">
				<div class="col-md-12 col-sm-12">
					Copyright © 1996-2019 Royal Marine Hotel, All rights reserved. Prices are subject to change without prior notice.
				</div>
			</div>
		</div>
	</footer>
</div>